*{
    margin:0%;
    padding:0%;
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        display: none
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.header{
    display: flex;
    background-color:white;
    height: 4rem;

    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right,  rgb(253, 3, 3),rgb(255, 0, 0));
    border-image-slice: 1;

    >.logo{
    
        height: 4rem;
        width:7rem;
    
    
    }
    >.menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        >a{
            text-decoration: none;
            font-weight: 550;
            cursor: pointer;
            color: black;
            transition: all 0.2s ease-in-out;
          &:hover{
                
                    transform: scale(1.2); 
                    color: rgb(250, 0, 0);
                
            }
        }
      
      
    }
    >svg{
     height: 1.5rem;
     width: 5rem;
     cursor: pointer;
     transition: all 0.2s ease-in-out;
     &:hover{
        
            transform: scale(1.2); 
            color: gray;
        
        
     }
    }
  
    
 
    
    
    }